<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span v-bind:title="message">霓虹灯</span>
        <span v-if="show">we will learn vue!</span>
        <ul>
            <li v-for="item in mywork">{{item.text}}</li>
        </ul>
        <div>{{text}}</div>
        <button v-on:click="reverse">反转地球</button>
        <input v-model="modeltext" type="text">
        <span>{{modeltext}}</span>
        <my-com v-for="item in mywork" v-bind:todo= "item" v-bind:key = "item.id"></my-com>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        Vue.component('my-com',{
            props: ['todo'],
            template: "<div>{{todo.text}}</div>"
        })
        var app = new Vue({
            el: "#app",
            data: {
                message: '页面加载于' + new Date(),
                text: '我知道',
                show: true,
                array: ['apple','orange','rice'],
                modeltext: '',
                mywork: [{id: 1, text: "html"},{id: 2, text: "css"},{id: 3, text: "javascript"}]
            },
            methods: {
                reverse: function(){
                    this.text = this.text.split('').reverse().join("")
                }
            }
        })
    </script>
</body>
</html>